html
    head
      include bootstrap-css
      include custom-css
      include tiendita-js
      title Página no encontrada
    body
      h1.tiendita-h1-title-main E R R O R 4 0 4
      img.img-responsive.center-block(src="/public/images/travolta.gif" alt="404")
